body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(https://wallpapercave.com/wp/wp7808611.png);
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 12vh;
    border-bottom: 3px #F2F2F2 solid;
    background-color: black;
}

.header .container {
    width: 85%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.header a {
    text-decoration: none;
    color: whitesmoke;
}

.selecionado {
    font-weight: bolder;
    color: #FFDF00;
}

/* .header a :hover{
    border-top: 10px black;
} */

.logo {
    display: flex;
    width: 15%;
    height: 85%;
    flex-direction: row;
    align-items: center;
}

.navbar {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 8vh;
    border-top: 3px #F2F2F2 solid;
    background-color: #FFDF00;
}

/* Tela Inicial */

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
}

.principal .banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 80%;
    font-size: 25px;
    background-color: #F2F2F2;
}

.principal .banner .esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 72%;
    height: 100%;
}

.principal .banner .direita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 28%;
    height: 100%;
    background-image: url(https://wallpapercrafter.com/desktop/445559-Video-Game-Pokmon-Phone-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.principal .banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    background-color: blueviolet;
}

.principal .banner2 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

/* Tela Sobre */

/* Tela de Login */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.cardLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 20%;
    height: 60%;
    background-color: #F0F8FF;
}

.titulo {
    font-size: 50px;
}

.cardLogin .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    /* border: 2px solid red; */
}

.campo .span {
    color: #214CCE;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1px;
}

.entrar {
    width: 30%;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #F0F8FF;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    background-color: #214CCE;
}

/* Tela de Cadastro */

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.cardCadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 25%;
    height: 80%;
    background-color: #F0F8FF;
}

.titulo {
    font-size: 50px;
}

.cardCadastro .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15%;
}

.campo .span {
    color: #214CCE;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1px;
}

.input {
    text-align: center;
    border: 2px #000000 solid;
    border-radius: 10px;
    height: 25px;
    width: 60%;
}

.cadastrar {
    width: 30%;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #F0F8FF;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    background-color: #214CCE;
}

/* .cadastrar :hover{
    box-shadow: #000000;
} */